.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("/assets/background.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
