.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body, html {
  height: 100%;
}

.bg {
  background-image: url("/assets/background.png");
  background-repeat: repeat-y;
  background-size: 100% 100vh;
}

.text-background-color {
  background-color: white;
}

.components-padding-bottom {
  padding-top: 200px;
  padding-bottom: 200px
}
